
body {
  background-image: url(/images/bg-polygon2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #3D97B5;
  padding: 0px !important;
}

.active {
  background: white;
  color: white;
}

.row pills {
  padding: 0px !important;
}

.head {
  padding-top: 15px;
}

.log{
  text-align: right;
  padding: 10px;
}

.log a {
  background: #466584;
  padding:15px;
  display: inline-block;
  text-transform: uppercase; /* changes letters to uppercase */
  text-decoration: none;
  color: white;
  border-radius: 5px;
  margin: 2px;
}

.log a:hover {
  background: #849E14;
  color: white;
}

.channels a {
  background: #466584;
  padding:15px;
  display: inline-block;
  text-transform: uppercase; /* changes letters to uppercase */
  text-decoration: none;
  color: white;
  top border-radius: 5px;
}

.channels a:hover {
  background: #849E14;
  color: white;
}

.visit{
	height: 100px;
	color: #72d8bb;
	padding-top: 45px;
  text-align: center;


}

.inputBox{
	width: 100%;
	Length:40%;
	padding:3px;
	margin-top: 10px;

}

.messages{
	height:390px;
	padding-top: 5px;
	padding-left: 20px;

}

/*.nav-pills {
  background: #466584;
  padding:15px;
  display: inline-block;
  text-transform: uppercase;  changes letters to uppercase 
  text-decoration: none;
  color: white;
  border-radius: 5px;
  margin: 2px;
}*/


.btn-submit  {
  background-color: hsl(163, 57%, 65%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c2eee2", endColorstr="#72d8bb");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#c2eee2), to(#72d8bb));
  background-image: -moz-linear-gradient(top, #c2eee2, #72d8bb);
  background-image: -ms-linear-gradient(top, #c2eee2, #72d8bb);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c2eee2), color-stop(100%, #72d8bb));
  background-image: -webkit-linear-gradient(top, #c2eee2, #72d8bb);
  background-image: -o-linear-gradient(top, #c2eee2, #72d8bb);
  background-image: linear-gradient(#c2eee2, #72d8bb);
  border-color: #72d8bb #72d8bb hsl(163, 57%, 60%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
  -webkit-font-smoothing: antialiased;
  float: left;
  margin-bottom: 10px;
  margin-top: 5px;
  text-transform: uppercase; /* changes letters to uppercase */
  text-decoration: none; /* removes underline */
}


  .social{
    /*background: rgba(244,244,244,0.5);*/
  	/*text-align: right;*/
    text-decoration: none;
    padding: 10px;
   /* float: right;*/

  }

  .bottom-social {
    background: #466584;
    padding-right: 15px

  }

  .bottom-social a {
    float: center;
    padding: 50px 5px 40px 5px; /* one value adds same amount of padding on all sides */
    display: inline-block;
    color: white;

  }


  .chat-main {
    background: rgba(244,244,244,0.7);
    border: 2px solid #466584;
    padding-top: 10px;
  }

  .chat-main a {background: #466584;
  padding:10px;
  display: inline-block;
  text-transform: uppercase; /* changes letters to uppercase */
  text-decoration: none;
  color: white;
  margin-top: 10px;
  margin-bottom: 15px;
}

.chat-main a:hover {
  background: #849E14;
  color: white;
}

.messagephoto {
   width: 360px;
   margin: 7px;
}

.pano {
  display: none;
}

.inputPic {
  /*margin-top: 5px;*/
  padding-top: 5px;
}

.btn-custom a {
  color:navy;
}

.btn-submit a {
  color:navy;
}


